{% extends 'base.html' %}


{% block header %}
<div class="jumbotron">
  <h1 class="display-4"> this is header</h1>
  <p class="lead">todoリストだよ！</p>
  <hr class="my-4">
</div>

{% endblock header %}

 {% block content %}
<div class="container">
 {% for item in object_list %}

<div class="alert alert-{{ item.priority }}" role="alert">
  {{ item.title }}
<div>
    <a href="{% url 'update' item.pk %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">編集</a>
　　<a href="{% url 'delete' item.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">削除</a>
        <a href="{% url 'detail' item.pk %}" class="btn btn-info btn-lg active" role="button" aria-pressed="true">詳細</a>
</div>

</div>


 {% endfor %}

</div>
 {% endblock content %}
